*.o
*.in
.*.swp
aclocal.m4
Session.vim
autom4te.cache
config.guess
config.sub
config.status
config.h
configure
depcomp
install-sh
ltmain.sh
missing
ogre.cfg
*.log
stamp-h1
continuum
Makefile
.deps
libtool
lib
